@import "../../styles"
#projects_scraped
    display: grid
    grid-template-columns: repeat(4,1fr)

.preview
    width: 100%
    background-color: $grey
.tile
    display: flex
    flex-direction: column
    border: 1px solid $base-color
    margin: 5px
    p, img, h1
        align-self: center
    p
        margin-top: 10px
        text-align: center
