@import "../../styles"
.contact
    width: 600px
    margin: 100px auto
    display: flex
    flex-wrap: wrap
    justify-content: flex-end

h1
    width: 100%

h3
    font-size: 1em
    margin-bottom: 25px
    margin-top: 15px
    width: 100%

label
    width: 100%
p
    font-size: 1.2em
    margin: 10px 0
    margin-top: 20px

input, textarea
    border: none
    // background-color: $light-grey
    background-image: linear-gradient($dark-grey, $light-grey)
    font-size: 25px
    border-bottom: 2px solid $base-color
    width: 100%
    padding: 10px
    resize: none

input:focus, textarea:focus
    outline: none

button
    color: $white
    background-color: $light-grey
    border: none
    font-size: 25px
    color: $white
    padding: 10px
    margin-top: 20px
    border-radius: 5px
    align-self: right

button:hover
    cursor: pointer
    background-color: $base-color
    color: $black
