
    <header class="header">
        <div class="statement">
            <h1>
                Denis Poczęty
            </h1>
            <h2>I am able to find improvements in every task</h2>
        </div>
        <figure class="portrait"><img src="assets/home_img/profile image.jpg" alt="My portrait"></figure>
    </header>
    <div class="about">
        <h2>About</h2>
    </div>
    <article class="about_thread">
        <figure class="icon"><img src="assets/home_img/info.png" alt="Thread 1 icon"></figure>

        <section>
            <h3>General info</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi provident, aliquam impedit repellendus
                obcaecati sunt, aliquid ullam ut sed sequi, dicta asperiores enim magni. A provident sapiente
                dolorum
                iure exercitationem accusantium, amet, hic debitis ex incidunt architecto adipisci laborum molestiae
                eveniet at porro sequi! Quis sequi doloribus saepe enim, adipisci alias sunt a neque modi minima id
                dolore necessitatibus, ea sint inventore cumque iure iusto repellat error illo? Et, culpa excepturi
                quidem quia magni aut quos voluptas omnis autem recusandae deleniti facilis dolores sed nam sequi
                eligendi blanditiis earum quae necessitatibus inventore eos illo. Exercitationem ipsam sunt
                consectetur
                obcaecati cumque?</p>
        </section>
    </article>
    <article class="about_thread">
        <figure class="icon"><img src="assets/home_img/play.png" alt="Thread 1 icon"></figure>

        <section>
            <h3>How I started</h3>
            <p>I began my story with programming when i was just 12 years old. My teacher toldd me about HTML.</p>
        </section>
    </article>
    <article class="about_thread">
        <figure class="icon"><img src="assets/home_img/happy.png" alt="Thread 1 icon"></figure>

        <section>
            <h3>What I enjoy making</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi provident, aliquam impedit repellendus
                obcaecati sunt, aliquid ullam ut sed sequi, dicta asperiores enim magni. A provident sapiente
                dolorum
                iure exercitationem accusantium, amet, hic debitis ex incidunt architecto adipisci laborum molestiae
                eveniet at porro sequi! Quis sequi doloribus saepe enim, adipisci alias sunt a neque modi minima id
                dolore necessitatibus, ea sint inventore cumque iure iusto repellat error illo? Et, culpa excepturi
                quidem quia magni aut quos voluptas omnis autem recusandae deleniti facilis dolores sed nam sequi
                eligendi blanditiis earum quae necessitatibus inventore eos illo. Exercitationem ipsam sunt
                consectetur
                obcaecati cumque?</p>
        </section>
    </article>
